numpy
pandas
scikit-learn
matplotlib
jupyterlab
nltk
spacy
gensim
requests
beautifulsoup4
feedparser
kaggle
newsapi-python
torch
tensorflow
transformers>=4.0.0
datasets
rouge-score
python-dotenv
scikit-learn
joblib
evaluate